<div class="container">
  <div class="row">
    <h1 class="'page-title">Контакти</h1>
  </div>
  <br>
  <div class="row">
    <div class="col-sm-6">
      <p class="contact">
        <b>Адреса:</b> м.Запорiжжя, 12-го Квiтня, буд.3<br/>
        <b>Поштовий iндекс:</b> 69037<br/>
        <b>Телефон:</b> +380937838786<br/>
        <b>Email:</b> michael.matosov@gmail.com
      </p>
    </div>
    <div class="col-sm-6">
      <div class="row">
       <b>1-ий під'їзд</b><br>
        <p>Михайло Олександрович<br>
        +38 093 7838786</p>
      </div>
      <div class="row">
        <br><br><b>2-ий під'їзд</b><br>
        <p>...<br>
          +380999999999</p>
      </div>
      <div class="row">
        <br><br><b>3-iй під'їзд</b><br>
        <p>...<br>
          +380999999999</p>
      </div>
      <div class="row">
        <br><br><b>4-ий під'їзд</b><br>
        <p>...<br>
          +380999999999</p>
      </div>
      <div class="row">
        <br><br><b>5-ий під'їзд</b><br>
        <p>Вiктор Iванович<br>
          +38 067 6186865</p>
      </div>
    </div>
  </div>
</div>
