<div class="row">
  <div class="col-sm-6 col-sm-offset-3">
    <br>
    <%= form_for @comment do |f| %>
        <%= f.text_area :content, rows: 5 %>
        <%= f.submit 'Зберегти', class: 'btn btn-success' %>
    <% end %>
  </div>
</div>
