<div class="row" >
  <div class="col-sm-2 ">
    <div class="photo-container">
      <div class="image-avatar bordered", style="background-image: url('<%= @user.becomes(User).decorate.user_avatar_path %>')"></div>
    </div>
  </div>
  <div class="col-sm-4">
    <%= render 'form', btn: 'Зберегти' %>
  </div>
</div>
<div class="page-background" style="background-image: url('<%= random_background %>')">

</div>