<!-- Footer -->
<div class="footer">
  <div class="container">

    <div class="row">

      <div class="col-footer col-md-4 col-xs-6">
        <h3>Контакти</h3>
        <p class="contact-us-details">
          <b>Адреса:</b> м.Запорiжжя, 12-го Квiтня, буд.3<br/>
          <b>Поштовий iндекс:</b> 69037<br/>
          <b>Телефон:</b> +380937838786<br/>
          <b>Email:</b> michael.matosov@gmail.com
        </p>
      </div>
      <div class="col-footer col-md-4 col-xs-6">
        <h3>Соцiальнi контакти</h3>
        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam.</p>
      </div>
      <div class="col-footer col-md-4 col-xs-6">
        <h3>Про нас</h3>
        <p></p>
      </div>

    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="footer-copyright">&copy; 2018. Всi права захищенi.</div>
      </div>
    </div>
  </div>
</div>