<div class="row">
  <div class="col-sm-12 post-block">
    <div class="col-sm-2 avatar">
      <div class="small-image-avatar bordered", style="background-image: url('<%= current_user.decorate.user_avatar_path %>')"></div>
      <%= link_to 'Читати', post_path(post), class: 'btn btn-green' %>
    </div>
    <div class="col-sm-10 col-sm-offset-0">
      <div class="row title">
        <%= post.title %>
      </div>
      <div class="row content">
        <%= post.content.html_safe %>
      </div>
    </div>
  </div>
</div>
