body{
  overflow-x: hidden;
  .main-container{
    min-height: 800px;
    padding-top: 110px;
    position: relative;
  }
.page-background{
  height: 100%;
}
  .page-background {
    content: "";
    opacity: 0.5;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
    background-size: cover;
  }

  form{
    textarea{
      width: 100%;
    }
  }

  .post-block{
    border: 2px solid #b3be7b;
    height: 270px;
    overflow: hidden;
    margin-top: 20px;
    .row{
      padding: 5px;
    }
    .title .name{
      font-size: 22px;
      font-weight: bold;

    }
    .content{
      position: relative;
    }
    .avatar{
      .btn{
        width: 100%;
      }
    }
  }
  .post-block:after{
    content: "";
    display: block;
    height: 50px;
    position: relative;
    top: 220px;
    background-image:linear-gradient(to bottom, rgba(255, 255, 255, 0), #fff 75%)
  }
}

.files{
  border: 1px solid #aec62c;
  background: #cce838;
  margin-left: 14px;
}

.carousel-inner{
  //height: 400px;
}