<p>Доброго дня <%= @email %>!</p>

<p>Ви можете пiдтвердити ваш облiковий запис натиснувши наступне посилання:</p>

<p><%= link_to 'Пiдтвердити', confirmation_url(@resource, confirmation_token: @token) %></p>
